<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.PlayerMapper">
    <update id="updatebzf">
        update bz set ${tmpid} = #{tmpfs} where name = #{tmpname};
    </update>
    <update id="updategcf">
        update gs set ${tmpid} = #{tmpfs} where name = #{tmpname};
    </update>
    <update id="updatepsf">
        update xs set psf = #{tmpfs} where id=#{tmpid}
    </update>

    <select id="selectall" resultType="com.test.pojo.Player">
        select * from xs;
    </select>
    <select id="selectmavg" resultType="java.lang.Double">
        select avg(${id}) from bz;
    </select>
    <select id="selectoavg" resultType="java.lang.Double">
        select avg(${id}) from gs;
    </select>
    <select id="selectpsf" resultType="com.test.pojo.Player">
        select * from xs where department=#{department};
    </select>
    <select id="selectbzf" resultType="java.lang.Double">
        select avg(${tmpid}) from bz where name = #{tmpname};
    </select>
    <select id="selectgsf" resultType="java.lang.Double">
        select avg(${tmpid}) from gs where name = #{tmpname};
    </select>
</mapper>